@{
    ViewData["Title"] = "Home Page";
}

<div class="center">
    <h1 class="display-4">Welcome to Jeopardy</h1>
    <p>@Html.ActionLink("Click here to play!", "Index", "JeopardyTable")</p>
</div>
