<h1 style="text-align: center;">Thank You for Playing Jeopardy!</h1>
<h1 style="text-align: center;">Please Select a Category Followed by a Question!</h1>
<h2 style="text-align: center;">Good Luck!</h2>

<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Category1</th>
      <th scope="col">Category2</th>
      <th scope="col">Category3</th>
      <th scope="col">Category4</th>
      <th scope="col">Category5</th>
      <th scope="col">Category6</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">$100</th>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
    </tr>
    <tr>
      <th scope="row">$200</th>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
    </tr>
    <tr>
      <th scope="row">$300</th>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
    </tr>
    <tr>
      <th scope="row">$400</th>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
    </tr>
    <tr>
      <th scope="row">$500</th>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
    </tr>
    <tr>
      <th scope="row">$600</th>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
      <td>Question</td>
    </tr>
  </tbody>
</table>
