body {
background-color: #040481; 
color: yellow;
}
a {
    color: yellow;
    text-decoration: underline;
    /* pointer-events: none;
    cursor: default; */
}
a.my-class { color: yellow }
a.my-class:visited { 
    color: #040481;
    pointer-events: none;
    cursor: default;
}
